@import "partials/settings";
@import "../public/bower_components/foundation/scss/foundation";

header {
  background-image: url('/images/border.png');
  background-repeat: repeat-x;
  background-size: 60px;
  background-color: $black;
  height: 80px;

  .row {
    .large-6 {
      h1 {
        // border: 1px solid white;
        margin-top: 10px;
        line-height: 40px;
        // need to make logo line even with menu
        // logo area needs to be larger
        a {
          color: $main_teal;
          font-family: 'Lato', sans-serif;
          font-size: 26px;
          position: relative;
          background-size: contain;
          #flappy {
            // border: 1px solid red;
            display: inline-block;
            // position: absolute;
            // bottom: 0px;
            letter-spacing: 3px;
          }
          #app {
            // border: 1px solid red;
            display: inline-block;
            position: absolute;
            bottom: -4px;
            right: -88px;
            letter-spacing: 3px;
          }
          #logo {
            // border: 1px solid red;
            display: inline-block;
            padding-top: 30px;
            background-image: url('/images/logo.png');
            background-repeat: no-repeat;
            height: 25px;
            width: 45px;
            background-size: contain;
            position: absolute;
            right: 216px;
            bottom: 9px;
          }
        }  // END a
      }  // END h1
    }  // END .large-6 .columns

    #menu {
      padding: 17px 0px;
      text-align: right;
      letter-spacing: 2px;
      li {
        // border: 1px solid yellow;
        display: inline-block;
        color: $main_teal;
        font-size: 8px;
        border-bottom: 2px solid $main_teal;
        padding-right: 0px;
        padding-left: 25px;
        padding-bottom: 5px;
        margin-left: -16px;
        margin-right: 0px;
        a {
          // border: 1px solid orange;
          span {
            // border: 1px solid pink;
          }
        }
      }
      li:hover {
        // underline hover not same width as menu item
        color: $white;
        margin-right: 0px;
        margin-left: -16px;
        padding-right: 0px;
        padding-left: 25px;
        padding-bottom: 5px;
        border-bottom: 2px solid $white;
      }
    }  // end #menu
  }  // end .row
} // END header


#content {
  .row {
    margin-top: 25px;
    .large-9 {
      #scenery {
        border: 2px solid black;
        background-image: url('/images/scenery.png');
        background-repeat: no-repeat;
        height: 210px;
        width: 100%;
        background-size: cover;
        background-position: right center;
      }    
    }
    .large-3 {
      // border: 1px solid red;
      #features {
        margin: 0px;
        // margin-right: -0.9375rem;
        margin-left: -0.9375rem;
        background-color: $main_teal;
        text-align: center;
        list-style-type: none;
        font-size: 8px;
        letter-spacing: 1px;
        #feature-heading {
          background-color: $black;
          margin: 0px;
          padding: 10px 15px;
          color: $main_teal;
        }
        #feature-item {
          border: 1px solid #BFCECD;
          margin: 0px;
          padding: 15px 15px;
          font-weight: bold;
          #number {
            color: white;
          }
        }  // END #feature-item
      }  // END #features
    }  // END .large-3
  }  // END .row

  #blurb {
    p {
      font-weight: 500;
    }
  }  // end #blurb
}  // END #content


#footer-section {
  background-color: $black;
  background-image: url('/images/border.png');
  background-repeat: repeat-x;
  background-size: 60px;
  padding-top: 30px;

  ul {
    border: 1px solid $white;

    li {
      list-style-type: none;

      a {
        font-weight: 300;
        font-size: 10px;
        letter-spacing: 0.5px;
        color: $main_teal;
        text-transform: uppercase;
      }
    }
  }
  
  #footer-bar {
    .row {
      .large-12 {
        p {
          // border: 1px solid $white;
          text-align: center;
          font-size: 8px;
          color: $black;
          font-weight: bold;
          background-color: $main_teal;
          padding: 5px 0px;
        }
      }
    }
  }  // END #footer-bar
}  // END #footer-section