@import "partials/settings";
@import "../public/bower_components/foundation/scss/foundation";

header {
  // border: 1px solid red;
  background-image: url('/images/border.png');
  background-repeat: repeat-x;
  background-color: $black;
  height: 139px;
  margin-bottom: 50px;

  .row {
    .large-6 {
      
      h1 {
        // border: 1px solid white;
        margin-top: 40px;
        line-height: 40px;
        // need to make logo line even with menu
        a {
          color: $main_teal;
          font-family: 'Lato', sans-serif;
          font-size: 55px;
          font-weight: 600;
          position: relative;
          background-size: contain;
          #flappy {
            // border: 1px solid red;
            display: inline-block;
            // position: absolute;
            // bottom: 0px;
            position: absolute;
            bottom: -50px;
            letter-spacing: 12px;
          }
          #app {
            // border: 1px solid red;
            display: inline-block;
            position: absolute;
            bottom: -49px;
            right: -500px;
            letter-spacing: 12px;
          }
          #logo {
            // border: 1px solid $black;
            display: inline-block;
            padding-top: 30px;
            background-image: url('/images/logo.png');
            background-repeat: no-repeat;
            height: 90px;
            width: 110px;
            background-size: contain;
            position: absolute;
            right: 170px;
            bottom: -80px;
          }
        }  // END a
      }  // END h1
    }  // END .large-6 .columns

    #menu {
      padding: 17px 0px;
      text-align: right;
      letter-spacing: 2px;
      li {
        // border: 1px solid yellow;
        display: inline-block;
        color: $main_teal;
        font-size: 8px;
        border-bottom: 2px solid $main_teal;
        padding-right: 0px;
        padding-left: 25px;
        padding-bottom: 5px;
        margin-left: -16px;
        margin-right: 0px;
        a {
          // border: 1px solid orange;
          span {
            // border: 1px solid pink;
          }
        }
      }
      li:hover {
        // underline hover not same width as menu item
        color: $white;
        margin-right: 0px;
        margin-left: -16px;
        padding-right: 0px;
        padding-left: 25px;
        padding-bottom: 5px;
        border-bottom: 2px solid $white;
      }
    }  // end #menu
  }  // end .row
} // END header


#content {
  .row {
    margin-top: 25px;
    .large-8 {
      #scenery {
        border: 4px solid black;
        background-image: url('/images/scenery.png');
        background-repeat: no-repeat;
        height: 266px;
        width: 100%;
        background-size: cover;
        background-position: right center;
        box-shadow: -1px -1px  2em #888888, 1px 1px  2em #888888;
      }    
    }
    .large-4 {
      // border: 1px solid red;

      #features {
        margin: 0px;
        margin-left: 0rem;
        // margin-right: -0.9375rem;
        // margin-left: -0.9375rem;
        background-color: $main_teal;
        text-align: center;
        list-style-type: none;
        font-size: 15px;
        letter-spacing: 2px;
        box-shadow: -1px -1px  2em #888888, 1px 1px  2em #888888;
        #feature-heading {
          background-color: $black;
          margin: 0px;
          padding: 10px 15px;
          color: $main_teal;
        }
        #feature-item {
          border: 1px solid #BFCECD;
          margin: 0px;
          padding: 15px 15px;
          font-weight: bold;
          #number {
            color: white;
          }
        }  // END #feature-item
      }  // END #features
    }  // END .large-3
  }  // END .row

  #blurb {
    p {
      font-size: 28px;
      font-weight: 500;
      line-height: 35px;
    }
  }  // end #blurb
}  // END #content


#footer-section {
  // border: 5px solid $white;
  background-color: $black;
  background-image: url('/images/border.png');
  background-repeat: repeat-x;
  margin-top: 30px;
  padding-top: 50px;
  padding-bottom: 30px;
  
  .row {
    .large-4 {
      ul {
        border-left: 3px solid $main_teal;
        margin-left: -12px;
        padding-left: 24px;
        margin-bottom: 40px;
        li {

          list-style-type: none;
          a {
            font-weight: 600;
            font-size: 14px;
            letter-spacing: 3px;
            color: $main_teal;
            text-transform: uppercase;
          }  // END a
          a:hover {
            font-weight: 600;
            font-size: 14px;
            letter-spacing: 3px;
            color: $white;
            text-transform: uppercase;
          }  // END a:hover
        }  // END li
      }  // END ul
    }  // END .large-4
  }  // END .row

  #footer-bar {
    // border: 1px solid $white;
    .row {
      .large-12 {
        p {
          // border: 1px solid $white;
          text-align: center;
          font-size: 15px;
          color: $black;
          font-weight: bold;
          letter-spacing: 1px;
          background-color: $main_teal;
          padding: 5px 0px;
        }  // END p
      }  // END .large-12
    }  // END .row
  }  // END #footer-bar
}  // END #footer-section